<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <title>Title</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
        /*チラツキ防止*/
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body class="flex bg-black h-screen touch-manipulation select-none">

<main id="app" class="m-auto w-screen flex justify-center" v-cloak>
    <div>
        <img :src="getImage()" alt="" v-on:click="next(0)" v-bind:class="{'opacity-50':isChoiceScene()}">
        <p class="text-center text-white text-xl md:text-3xl p-5">{{ getScript() }}</p>
    </div>

    <!-- Main modal -->
    <div tabindex="-1" aria-hidden="true" class="fixed inset-0" v-if="isChoiceScene()">
        <div class="m-auto relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="p-6 space-y-6">
                    <div class="text-white text-center" v-for="(choice, idx) in getChoices()">
                        <button type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                @click="next(idx)">
                            {{choice}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="data.js"></script>
<script src="app.js"></script>

</body>
</html>